
* {
    padding: 0%;
    margin: 0%;
}

html, body {
    overscroll-behavior: none; 
    overflow-x: hidden;
}


#msg {
    display: none;
}

body {
    text-align: center;
}

.header {
    margin-top: 20px;
    /* width: 100vw; */
}

.header h1 {
    float: left;
    margin-left: 30px;
}

.backImage-container {
    display: flex;
    height: 80vh;
    width: 100vw;
    max-height: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#before-backImage {
    width: 80%;
    height: 90%;
    max-width: 800px;
    background-image: url("snake-game-firsh-background.jpeg");
    background-size: cover;
    box-shadow: 2px 2px 7px 1px black;
    border-radius: 20px;
}

/* #after-backImage{
        margin-right: 2rem;
        width: 100rem;
        height: 33.8rem;
        background-image: url("snake-game-second-background.1.jpg");
        background-size: contain;
    } */

.before-game-container {
    display: none;
}

.after-game-container {
    position: absolute;
    /* top:9.5%; */
    /* left:27%; */
    left: 0%;
    top: 0%;
    /* height:80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box {
    background: linear-gradient(lightblue, lightgreen, yellow, green);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(30, 1fr);
}

.playBtn-container {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playBtn {
    position: absolute;
    height: 6rem;
    width: 10rem;
    font-size: 3rem;
    background: linear-gradient(to right, blue, lightblue, yellow, lightgreen, green);
    border-radius: 3rem;
    border: 2px solid white;

}

#playBtn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px black;
    scale: 1.2;
}


.before-gameOver-container {
    display: none;
}

.after-gameOver-container {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameOver {
    height: 6rem;
    width: 15rem;
    font-size: 3rem;
    background: linear-gradient(to right, blue, lightblue, yellow, lightgreen, green);
    border-radius: 3rem;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameOver:hover {
    font-size: 3.1rem;
}

#more {
    position: relative;
    justify-self: end;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    user-select: none;
}

#more-symbole {
    background-color: aqua;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-size: large;
    width: 30px;
    display: none;
}

#more-details {
    z-index: 1;
    top: 50px;
    position: absolute;
    background-color: lightblue;
    box-shadow: 0px 20px 50px 5px;
    border-radius: 20px;
    padding: 1rem 1rem;
    min-width: 250px;
}

#score,
#hiscore,
#reset-hiscore {
    background-color: rgb(79, 132, 178);
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

#reset-hiscore {
    margin-bottom: 0rem;
}


#reset-hiscore:hover {
    opacity: 50%;
    cursor: grabbing;
    color: white;
}


.musicBtn {
    font-size: 4rem;
    position: absolute;
    top: 1%;
    left: 2%;
    height: 5rem;
    width: 7rem;
    opacity: 0.6;
}

.allMusicBtn {
    font-size: 4rem;
    position: absolute;
    top: 13%;
    left: 2%;
    height: 5rem;
    width: 7rem;
    opacity: 0.6;
}

#help {
    position: fixed;
    bottom: 1%;
    font-size: 2rem;
    background-color: aqua;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
}

#help:hover {
    opacity: 50%;
    cursor: help;
}


@media screen and (max-width:780px) , (max-height:400px){
    #playBtn {
        height: 4rem;
        width: 8rem;
        font-size: 2rem;
        border-radius: 2rem;
    }

    

    #hiscore,
    #score,
    #reset-hiscore,
    #help {
        font-size: 1.5rem;
    }

    #more-symbole {
        display: unset;
    }

    .small-screen {
        display: none;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0%;
        right: 0%;
        height: 100vh;
        width: 100vw;
        background-color: rgba(128, 124, 124, 0.578);
        z-index: 10;
    }

    .show {
        display: unset;
    }

    #more-details {
        z-index: 11;
    }

    .musicBtn {
    font-size: 2rem;
}

.allMusicBtn {
    font-size: 2rem;
}

}

@media screen and (max-width:310px) , (max-height:310px){

    .musicBtn {
    font-size: 1rem;
}

.allMusicBtn {
    font-size: 1rem;
}

    #title,
    #hiscore,
    #score,
    #reset-hiscore,
    #help {
        font-size: small;
        padding: 10px;
    }

    #more-details {
        top: 40px;
        padding: 0.5rem 0.5rem;
        min-width: 120px;
    }

}






/* about game */

.about-game {
    width: 80%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.about-game h2,
.about-game h3 {
    margin-bottom: 1rem;
    color: darkgreen;
}

.about-game p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 1.5rem;
}

.about-game ul {
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.about-game ul li {
    margin-bottom: 0.5rem;
    font-size: 1.15rem;
}



/* feature */


.features-section,
.tips-section,
.responsiveness-info,
.safety-info,
.footer-note {
    width: 80%;
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: left;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.feature-box {
    background: #e7ffe7;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid lightgreen;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.feature-box h4 {
    margin-bottom: 0.5rem;
    color: green;
    font-size: 1.2rem;
}

.tips-section ul {
    padding-left: 1.5rem;
}

.tips-section ul li {
    margin-bottom: 0.6rem;
    font-size: 1.1rem;
}

.footer-note {
    text-align: center;
    background: linear-gradient(to right, lightgreen, lightyellow);
    border: 4px solid white;
}



.header h1 {
    user-select: none;
    text-shadow: 1px 1px 2px white;
    background-color: rgba(136, 133, 133, 0.385);
    padding: 0.5rem;
    border-radius: 20px;
    animation: animateHeader 1s infinite;
    letter-spacing: 1px;
    color: green;
    border: 3px solid white;
    box-shadow: 0px 0px 20px 5px white;

}

@keyframes animateHeader {
    0% {
        border-bottom: 3px solid red;
    }

    25% {
        border: 3px solid white;
        border-left: 3px solid red;
    }

    50% {
        border: 3px solid white;
        border-top: 3px solid red;
    }

    75% {
        border: 3px solid white;
        border-right: 3px solid red;
    }

    100% {
        border: 3px solid white;
        border-bottom: 3px solid red;
    }
}




/* fullscrean */


#fullscreenBtn{
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(215, 224, 224, 0.367);
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    width: 40px;
    height: 40px;
}

/* rotation */

.rotate-screen {
    transform: rotate(90deg);
    width: 100vh; 
    height: 100vw;
    transform-origin: center center;
    position: absolute;
    top: 0;
    left: 0;
}


#rotate-alert{
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
    font-size: xx-large;
    color:red;
}


